@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Poppins", sans-serif;
  }
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer utilities {
  .active1 {
    @apply !bg-green-700 !text-white;
  }

  
  .section {
    @apply max-w-screen-xl mx-auto px-4 my-16 lg:my-20 py-8;
  }
  
  .page {
    @apply py-8 my-0;
  }

  .pending {
    @apply bg-red-400 text-white;
  }

  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
